body {
  background-color: #328CC1;
}

button {
  background-color: #f2f4b1;
  border-radius: 5px;
  border-width: 8px;
  border-color: #e666af;
  color: rgb(214, 82, 149);
  font-family: "Passion One", cursive;
  font-size: 24px;
  height: 45px;
  margin-bottom: 20px;
  width: 75px;
}

.container {
  margin-top: 75px;
}

.pixel {
  display: inline-block;
  height: 20px;
  margin: 2px 2px 0 2px;
  width: 20px;
  background-color: #0B3C5D;
}

.color {
  background-color: #f6dc6f;
}
